* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}

.contenedor_titulo_index{
    width: 100%;
    text-align: center;
    padding: 10px;
    
}

.contenedor_titulo_paginaPrincipal{
   font-weight: 600;
   font-size: 20px;
   text-align: center;
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    color: #798dbb;
}

header .titulo_index {
    text-align: center;
    
    
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    color: rgb(0, 178, 178);
    text-decoration: none;

}


.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 100%;
   margin-top: 50px;
   padding: 0 20px;

}

.seccion {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    
}

.resumen {
    width: 100%;
    max-width: 1400px;
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 50px;
    color:#798dbb;
    

}



.resumen p {
    padding: 10px;
}

.resumen p span {
    color: rgb(0, 178, 178);
}

.tabla_aprobacion{
    margin: 150px 0;
}

.container_corazon {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;

}

.corazon {
    display: flex;
    width: 80%;
    font-size: 30em;
    color: red;
    justify-content: center;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

nav ul {
    position: absolute;
    background-color: rgb(0, 178, 178);
    width: 100%;
    min-width: 300px;
    list-style-type: none;
    text-align: center;
    padding: 10px 0;

}

nav ul li {
    display: inline-block;


}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 5px;
    transition: background_color 0.3s ease;
    font-size: 1rem;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.carrusel {
    margin: 100px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 178, 178);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
}

footer p {
    margin: 10px;

}

footer a {
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 10px;
    border-left: 1px solid #f2f2f2;

}

footer a:hover {
    color: #f2f2f2;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Estilo para la imagen */
  .card img {
    width: 20%;
    border-radius: 8px;
    margin-bottom: 10px;
  }




@media(max-width: 1000px){
    body{
        align-items: flex-start;
        justify-content: flex-start;
    }

    
    .contenido_Sesion{
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
        top: 40px;

    }

    .contenido_Sesion .carrusel,
    .contenido_Sesion .seccion{
        width: 100%;
        height: 100%;
        padding: 20 0;
    }

    
    .corazon {
      
        font-size: 25em;
        
    }
}

@media(max-width: 500px){
    .contenido_Sesion{
        top: 70px;
        margin-bottom: 70px;
    }

    footer a{
        margin: 0 20px;
        
    }

    .corazon {
      
        font-size: 20em;
        
    }
    
}

